blockquote {
    color: gray;
}

code {
    color: #444;
    background-color: #eee;
}

#post-tags {
    font-size: 9pt;
    padding: 10px;
    border: solid 1px #f0f0f0;
    border-radius: 5px;
    margin-bottom: 20px;
}

#post-tags a {
    padding-right: 5px;
    padding-left: 5px;
}


div#sidebar ul {
    padding: 0;
    margin: 0;
    font-size: 10pt;
}

div#sidebar ul li {
    display: block;
    padding: 0;
    margin: 0;
}

div#recent ul li {
    padding-bottom: 0.5em;
}

div#tags ul li {
    float: left;
    margin: 0.8em 0.3em;;
}

div#tags ul li a {
    padding: 0.5em 1em;
    border-radius: 5px;
    border: solid 1px #ddd;
}

div#tags ul li a:hover {
    text-decoration: none;
    border-color: #bbb;
}
